<!-- module html  -->
{% set position = "" %}

{% if module.texture_position == "center" %}
  {% set position = "right: 50%;" %}
{% endif  %}

{% if module.texture_position == "right" %}
 {% set position = "right: 0;" %}
{% endif  %}
<div class="relative z-0 floating-image w-full">
  <div class="absolute top-0 z-0 w-full" style="transform: translate({{ module.x_axis }}%, {{ module.y_axis }}%); {{position}}" >
  {% if module.floating_graphic.src %}
	{% set sizeAttrs = 'width="{{ module.floating_graphic.width }}" height="{{ module.floating_graphic.height }}"' %}
	{% if module.floating_graphic.size_type == 'auto' %}
		{% set sizeAttrs = 'width="{{ module.floating_graphic.width }}" height="{{ module.floating_graphic.height }}" style="max-width: 100%; height: auto;"' %}
	{% elif module.floating_graphic.size_type == 'auto_custom_max' %}
		{% set sizeAttrs = 'width="{{ module.floating_graphic.max_width }}" height="{{ module.floating_graphic.max_height }}" style="max-width: 100%; height: auto;"' %}
	{% endif %}
	 {% set loadingAttr = module.floating_graphic.loading != 'disabled' ? 'loading="{{ module.floating_graphic.loading }}"' : '' %}
	<img class="block w-full" src="{{ module.floating_graphic.src }}" alt="{{ module.floating_graphic.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
{% endif %}
</div>
</div>